/* Apercu font */
@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Light.eot);
  src: url(../fonts/apercu/Apercu-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/apercu/Apercu-Light.woff2) format("woff2"), url(../fonts/apercu/Apercu-Light.woff) format("woff"), url(../fonts/apercu/Apercu-Light.ttf) format("truetype"), url(../fonts/apercu/Apercu-Light.svg#Apercu-Light) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-LightItalic.eot);
  src: url(../fonts/apercu/Apercu-LightItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/apercu/Apercu-LightItalic.woff2) format("woff2"), url(../fonts/apercu/Apercu-LightItalic.woff) format("woff"), url(../fonts/apercu/Apercu-LightItalic.ttf) format("truetype"), url(../fonts/apercu/Apercu-LightItalic.svg#Apercu-LightItalic) format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Regular.eot);
  src: url(../fonts/apercu/Apercu-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/apercu/Apercu-Regular.woff2) format("woff2"), url(../fonts/apercu/Apercu-Regular.woff) format("woff"), url(../fonts/apercu/Apercu-Regular.ttf) format("truetype"), url(../fonts/apercu/Apercu-Regular.svg#Apercu-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Italic.eot);
  src: url(../fonts/apercu/Apercu-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/apercu/Apercu-Italic.woff2) format("woff2"), url(../fonts/apercu/Apercu-Italic.woff) format("woff"), url(../fonts/apercu/Apercu-Italic.ttf) format("truetype"), url(../fonts/apercu/Apercu-Italic.svg#Apercu-Italic) format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Medium.eot);
  src: url(../fonts/apercu/Apercu-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/apercu/Apercu-Medium.woff2) format("woff2"), url(../fonts/apercu/Apercu-Medium.woff) format("woff"), url(../fonts/apercu/Apercu-Medium.ttf) format("truetype"), url(../fonts/apercu/Apercu-Medium.svg#Apercu-Medium) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-MediumItalic.eot);
  src: url(../fonts/apercu/Apercu-MediumItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/apercu/Apercu-MediumItalic.woff2) format("woff2"), url(../fonts/apercu/Apercu-MediumItalic.woff) format("woff"), url(../fonts/apercu/Apercu-MediumItalic.ttf) format("truetype"), url(../fonts/apercu/Apercu-MediumItalic.svg#Apercu-MediumItalic) format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Bold.eot);
  src: url(../fonts/apercu/Apercu-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/apercu/Apercu-Bold.woff2) format("woff2"), url(../fonts/apercu/Apercu-Bold.woff) format("woff"), url(../fonts/apercu/Apercu-Bold.ttf) format("truetype"), url(../fonts/apercu/Apercu-Bold.svg#Apercu-Bold) format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-BoldItalic.eot);
  src: url(../fonts/apercu/Apercu-BoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/apercu/Apercu-BoldItalic.woff2) format("woff2"), url(../fonts/apercu/Apercu-BoldItalic.woff) format("woff"), url(../fonts/apercu/Apercu-BoldItalic.ttf) format("truetype"), url(../fonts/apercu/Apercu-BoldItalic.svg#Apercu-BoldItalic) format("svg");
  font-weight: 700;
  font-style: italic;
}
:root {
  --color: #eaeaea;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  border-style: border-box;
  font-family: Apercu, source sans pro, system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../img/bg-header.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% 215px;
  background-color: #3a3a3a;
  width: 100%;
  overflow-x: hidden;
  color: var(--color);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  position: relative;
  z-index: 0 !important;
  scroll-behavior: smooth;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(47, 50, 57, 0);
}

@media (max-width: 600px) {
  * {
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    scrollbar-color: transparent transparent;
  }
}
.header {
  padding-top: 40px;
}
.header .header-container {
  margin: 0 5%;
}
.header .header-container .header-flex {
  display: flex;
}
.header .header-container .header-flex .header-left {
  width: 50%;
}
.header .header-container .header-flex .header-left .header-left-flex {
  display: flex;
  flex-direction: column;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-top {
  display: flex;
  justify-content: space-between;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-top .header-brand {
  width: 30%;
  display: flex;
  align-items: center;
  align-content: center;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-top .header-brand h1 {
  margin: 0;
  font-size: 3rem;
  color: #0088f0;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-top .header-brand img {
  height: 35px;
  width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-top .header-brand-texts {
  width: 50%;
  padding-top: 10px;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-top .header-brand-texts p {
  font-size: 0.9rem;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-bottom {
  margin-top: 10px;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-bottom .header-nav ul {
  display: flex;
  padding-left: 0;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-bottom .header-nav ul .header-nav-links {
  padding: 5px;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-bottom .header-nav ul .header-nav-links a {
  padding: 8px 15px;
  border-radius: 23px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #eaeaea;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-bottom .header-nav ul .header-nav-links a:hover {
  background-color: #505050;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-bottom .header-nav ul .header-nav-links .selected {
  background-color: #0088f0;
}
.header .header-container .header-flex .header-left .header-left-flex .header-left-bottom .header-nav ul .header-nav-links .selected:hover {
  background-color: #0088f0 !important;
}
.header .header-container .header-flex .header-right {
  padding-top: 25px;
  width: 50%;
}
.header .header-container .header-flex .header-right .header-right-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header-container .header-flex .header-right .header-right-flex .header-search .header-search-form {
  position: relative;
  border: 1px solid var(--color);
  border-radius: 5px;
}
.header .header-container .header-flex .header-right .header-right-flex .header-search .header-search-form .header-search-input {
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 35px;
  background-color: transparent;
  color: var(--color);
  width: 200px;
}
.header .header-container .header-flex .header-right .header-right-flex .header-search .header-search-form .header-search-input:focus ~ .search-input-placeholder,
.header .header-container .header-flex .header-right .header-right-flex .header-search .header-search-form .header-search-input:not([value=""]) ~ .search-input-placeholder {
  visibility: hidden;
}
.header .header-container .header-flex .header-right .header-right-flex .header-search .header-search-form .header-search-icon {
  position: absolute;
  fill: var(--color);
  top: 10px;
  left: 10px;
}
.header .header-container .header-flex .header-right .header-right-flex .header-search .header-search-form .search-input-placeholder {
  position: absolute;
  left: 35px;
  top: 5px;
  pointer-events: none;
  color: #9d9d9d;
}
.header .header-container .header-flex .header-right .header-right-flex .header-right-links {
  margin-left: 20px;
  display: flex;
  align-content: center;
  align-items: center;
}
.header .header-container .header-flex .header-right .header-right-flex .header-right-links a {
  margin-bottom: -10px;
  margin-right: 15px;
}
.header .header-container .header-flex .header-right .header-right-flex .header-right-links a .header-mail-icon {
  fill: #9d9d9d;
  cursor: pointer;
}
.header .header-container .header-flex .header-right .header-right-flex .header-right-links a .header-mail-icon:hover {
  fill: var(--color);
}
.header .header-container .header-flex .header-right .header-right-flex .header-right-links .theme-controls {
  display: flex;
  align-items: center;
  align-content: center;
}
.header .header-container .header-flex .header-right .header-right-flex .header-right-links .theme-controls svg {
  stroke: #9d9d9d;
}
.header .header-container .header-flex .header-right .header-right-flex .header-right-links .theme-controls svg:hover {
  stroke: var(--color);
}
.header .header-container .header-flex .header-right .header-right-flex .header-right-links .theme-controls .themeToggle {
  height: 20px;
  width: 35px;
  border-radius: 30px;
  background-color: #9d9d9d;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}
.header .header-container .header-flex .header-right .header-right-flex .header-right-links .theme-controls .themeToggle .toggleButton {
  height: 16px;
  width: 16px;
  margin: 2px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0);
  transition: all 0.2s ease-in-out 0s;
}

/* ======Jumbotron stylings====== */
.landing {
  overflow: hidden;
  margin-top: 5%;
}
.landing .landcontainer {
  margin: 0 5%;
}
.landing .landcontainer .landflex {
  display: flex;
  width: 100%;
}
.landing .landcontainer .landflex .landtexts {
  width: 50%;
  padding-top: 40px;
}
.landing .landcontainer .landflex .landtexts h1 {
  color: var(--color);
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-bottom: 0.8rem;
  position: relative;
}
.landing .landcontainer .landflex .landtexts h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(100deg, var(--color), #753aff);
  display: inline-block;
}
.landing .landcontainer .landflex .landtexts p {
  font-size: 1.3rem !important;
  font-style: normal;
  font-weight: 300;
  line-height: 2.4rem !important;
  margin-bottom: 30px;
  color: var(--color);
}
.landing .landcontainer .landflex .landtexts a {
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 300;
  font-size: 1.1rem !important;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
  background: linear-gradient(to bottom right, #14a9ff, #0088f0) !important;
  color: #fff !important;
}
.landing .landcontainer .landflex .landing-right {
  width: 50%;
}
.landing .landcontainer .landflex .landing-right .landing-blogs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}
.landing .landcontainer .landflex .landing-right .landing-blogs .landing-blog {
  width: 40%;
}
.landing .landcontainer .landflex .landing-right .landing-blogs .landing-blog img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.landing .landcontainer .landflex .landing-right .landing-blogs .landing-blog .blog-meta span {
  font-size: 0.8rem;
  margin-right: 10px;
}
.landing .landcontainer .landflex .landing-right .landing-blogs .landing-blog .blog-meta .category {
  padding: 5px;
  border-radius: 6px;
  background-color: rgba(66, 99, 111, 0.7843137255);
}
.landing .landcontainer .landflex .landing-right .landing-blogs .landing-blog h2 {
  margin: 10px 0;
  line-height: 1.7rem;
}
.landing .landcontainer .landflex .landing-right .landing-blogs .landing-blog .author-blog .author-name {
  margin: 0;
}

/* ======pass card stylings====== */
.passCard {
  transform: skew(0deg, -5deg);
  height: 50vh;
  background: #0088f0;
  position: relative;
  margin-top: 80px;
  margin-bottom: 170px;
}
.passCard .passCardWrapper {
  transform: skew(0deg, 5deg);
  margin-bottom: -100px;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(to top, #14a9ff, #0088f0) !important;
}
.passCard .passCardWrapper .passCardContainer {
  margin: 0 5%;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex {
  display: flex;
  padding-top: 80px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler {
  width: 50%;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard {
  width: 450px;
  height: 200px;
  padding: 20px;
  background-color: rgba(55, 55, 55, 0.5725490196);
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  position: relative;
  box-shadow: rgba(111, 0, 255, 0.2509803922) 0px 54px 55px, rgba(125, 3, 255, 0.1215686275) 0px -12px 30px, rgba(136, 0, 255, 0.1215686275) 0px 4px 6px, rgba(127, 7, 255, 0.168627451) 0px 12px 13px, rgba(123, 0, 255, 0.0901960784) 0px -3px 5px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardImage {
  width: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardImage img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts {
  width: 65%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: -5%;
  color: #f6f6f6;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div {
  margin-bottom: 40px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div h1, .passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div p {
  color: #f6f6f6;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div h1 span, .passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div p span {
  font-weight: 500;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div h1 .apikey, .passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div p .apikey {
  background-color: rgba(53, 53, 53, 0.5137254902);
  padding: 5px;
  border-radius: 5px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div p {
  margin-bottom: 10px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passOutroTexts {
  width: 50%;
  display: flex;
  align-items: center;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passOutroTexts div h2 {
  line-height: 1.25;
  font-size: 2rem;
  color: #f6f6f6;
  font-weight: 700;
  margin-bottom: 20px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passOutroTexts div p {
  color: #e0e1ea;
  line-height: 1.25;
  letter-spacing: 1.2;
}

/* ======for the developers stylings====== */
.forthedevs {
  margin: 3rem 0;
}
.forthedevs .devswrapper .devcontainer {
  margin: 0 10%;
}
.forthedevs .devswrapper .devcontainer .devflex {
  display: flex;
  justify-content: space-between;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext {
  width: 50%;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .fordestxt {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devstitle {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devtext {
  margin-bottom: 20px;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devtext a {
  color: #0088f0;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devbtns {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devbtns .devlearn {
  padding: 1.5rem 2rem;
  line-height: 1.25;
  font-weight: 600;
  font-size: 0.875rem;
  background: linear-gradient(to bottom right, #14a9ff, #0088f0) !important;
  border-radius: 0.75rem;
  border-style: none;
  border: none;
  outline: none;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devbtns .devdocs {
  color: #0088f0;
  line-height: 1.25;
  font-weight: 600;
  font-size: 1rem;
}
.forthedevs .devswrapper .devcontainer .devflex .devstech {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
}
.forthedevs .devswrapper .devcontainer .devflex .devstech .devtechcard {
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.forthedevs .devswrapper .devcontainer .devflex .devstech .devtechcard .devIcon {
  font-size: 1rem !important;
  width: 100%;
  height: 100%;
}
.forthedevs .devswrapper .devcontainer .devflex .devstech .devtechcard .devbrandIc {
  font-size: 6rem !important;
  width: 100%;
  height: 100%;
}

/* ======newsletter subscribe stylings====== */
.secNewsletter {
  margin-top: 150px;
  margin-bottom: 150px;
}
.secNewsletter .newsletter .newslettercontainer {
  margin: 0 5%;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter {
  background-size: 40%, 60%;
  background-position: left top, right bottom;
  background-image: url(../svg/glow-blue-02.svg), url(../svg/glow-purple-02.svg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 1216px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex {
  display: flex;
  grid-gap: 2.5rem;
  gap: 2.5rem;
  border-radius: 0.75rem;
  background-color: rgb(9, 20, 26);
  background-position: 100%;
  background-repeat: no-repeat;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-image: url(../svg/envelop.svg);
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subNewstexts {
  width: 50%;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subNewstexts .subNewstitle {
  font-size: 2rem;
  line-height: 2.25rem;
  color: rgb(246, 246, 246);
  font-weight: 700;
  letter-spacing: 1.5px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subNewstexts .subNewsTextsp {
  margin-top: 0.75rem;
  color: rgb(246, 246, 246);
  letter-spacing: 0.5px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform {
  position: relative;
  width: 50%;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf .subinputsFlex {
  display: flex;
  overflow: hidden;
  border-radius: 0.75rem;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf .subinputsFlex .subnewsinput {
  outline: none;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgba(49, 49, 49, 0.707);
  color: rgb(218, 218, 218);
  height: 3.5rem;
  margin-right: -10px;
  width: 300px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf .subinputsFlex .subnewsButton {
  cursor: pointer;
  border-radius: 0.75rem;
  background-color: cyan;
  padding: 10px 20px;
  font-weight: 600;
  outline: none;
  border: none;
}

/* ======Footer stylings====== */
.footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.footer .fcontainer {
  margin: 0 5%;
  position: relative;
  height: 100%;
}
.footer .fcontainer .fdet .fdetflex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs {
  width: 22%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 40px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs h2 {
  margin-bottom: 20px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs ul li {
  margin-bottom: 10px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs ul li a {
  color: var(--color);
}
.footer .fcontainer .fdet .fdetflex .fflexsecs ul li a:hover {
  color: #0088f0;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .flogo {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .flogo img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .flogo h3 {
  font-size: 2rem;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .fsocials {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .fsocials i {
  margin-right: 20px;
  font-size: 1.2rem;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection {
  display: flex;
  flex-direction: column;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection img {
  margin-bottom: 10px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection img:nth-child(1) {
  width: 50%;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection img:nth-child(2) {
  width: 40%;
}
.footer .fcopyright {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: block;
  padding: 10px 0px;
  width: 100%;
}
.footer .fcopyright p {
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color) !important;
  font-family: "Roboto", sans-serif;
}
.footer .fcopyright p a {
  cursor: pointer;
  color: var(--color);
}

.terms {
  color: inherit;
  margin: 20px 10%;
  padding-top: 50px;
}

.title {
  text-align: left;
  margin-top: 20px;
  font-size: 2.8rem;
  line-height: 3.4rem;
  margin-bottom: 0.8rem;
  color: inherit;
}

.terms > p {
  font-size: 1.3rem !important;
  line-height: 2.4rem !important;
  font-weight: 300;
  font-style: normal;
  color: inherit;
  margin-bottom: 50px;
  margin-bottom: 50px;
}
.terms > p a {
  color: var(--color);
}
.terms > p a:hover {
  color: #0088f0;
}

/*=== About Our Leaders===*/
.leaders .leaders-wrapper {
  margin: 5% 5%;
  display: flex;
  align-items: center;
}
.leaders .leaders-wrapper .leaders-texts {
  width: 50%;
}
.leaders .leaders-wrapper .leaders-texts p {
  width: 90%;
}
.leaders .leaders-wrapper .leaders-images {
  width: 50%;
  padding: 5% 10%;
}
.leaders .leaders-wrapper .leaders-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=== Our Mission ===*/
.mission {
  margin: 0 5%;
}
.mission .mission-wrapper {
  display: flex;
}
.mission .mission-wrapper .mission-images {
  width: 50%;
}
.mission .mission-wrapper .mission-images .miss-image-wrapper {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0% 50% 50% 50%;
}
.mission .mission-wrapper .mission-images .miss-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mission .mission-wrapper .mission-texts {
  width: 50%;
}
.mission .mission-wrapper .mission-texts h1 {
  color: inherit;
}
/*=== Our Blog ===*/
.blog-sec-top {
  text-align: center;
  padding: 5% 20%;
}
.blog-sec-top h1 {
  font-size: 6rem;
}
.blog-sec-top p {
  font-size: 1.2rem;
}

.blog-landing .blog-landing-wrapper {
  margin: 20px 5%;
}
.blog-landing .blog-landing-wrapper .spot-blog {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-image {
  width: 49%;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts {
  width: 49%;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-category {
  padding: 5px;
  border-radius: 6px;
  background-color: rgba(66, 99, 111, 0.7843137255);
  cursor: pointer;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-date {
  text-transform: uppercase;
  margin-left: 10px;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts h2 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.48px;
  margin: 0 0 16px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts h2 a {
  text-decoration: none;
  color: inherit;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts p a {
  text-decoration: none;
  color: inherit;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-author img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-author .spot-author-name {
  margin-left: 10px;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-author .spot-author-name p {
  font-size: 0.7rem;
}

.blogs-showcase {
  margin: 0 5%;
}
.blogs-showcase .bloghighHeader {
  display: flex;
  margin: 3%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.blogs-showcase .bloghighHeader .blogsFileters {
  display: flex;
}
.blogs-showcase .bloghighHeader .blogsFileters .filter {
  padding: 8px 15px;
  border-radius: 23px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #eaeaea;
  margin-right: 20px;
  cursor: pointer;
}
.blogs-showcase .bloghighHeader .blogsFileters .filter:nth-child(1) {
  margin-left: -20px !important;
}
.blogs-showcase .bloghighHeader .blogsFileters .filter:hover {
  background-color: #505050;
}
.blogs-showcase .bloghighHeader .blogsFileters .activeFilter {
  background-color: #0088f0;
}
.blogs-showcase .bloghighHeader .blogsFileters .activeFilter:hover {
  background-color: #0088f0 !important;
}
.blogs-showcase .bloghighHeader .viewIcon {
  cursor: pointer;
}
.blogs-showcase .highflex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4%;
}
.blogs-showcase .highflex .highblogcard {
  width: 380px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer !important;
}
.blogs-showcase .highflex .highblogcard .bloghighImage {
  flex: 0 0 100%;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden !important;
}
.blogs-showcase .highflex .highblogcard .bloghighImage img {
  max-height: 250px;
  height: auto !important;
  border-radius: 0;
  box-shadow: initial;
  padding: 0 !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(90%);
  transition: 0.5s;
  vertical-align: middle;
  border-style: none;
}
.blogs-showcase .highflex .highblogcard .bloghighImage img:hover {
  margin-top: 0;
  filter: initial;
  box-shadow: initial;
  transform: scale(1.05);
  transition: 0.5s;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle {
  padding: 10px;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle a {
  color: inherit;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle a h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle a h2:hover {
  transition: 0.3s;
  color: #0088f0;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle a p {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
}
.blogs-showcase .highflex .highblogcard .bloghighInfo p {
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */