// Light theme
:root {
    --background-color: url('../../assets/images/asfalt-light.png'),
        linear-gradient(to right top, #d5faff, #d5faff);
    --text-color: #2b2b2b;
    --text-color-inv: #e6e6e6;
    --background-modals: #fff;
}

//dark theme
[data-theme='dark'] {
    --background-color: url('../../assets/images/asfalt-light.png'),
        linear-gradient(to right top, #292f30, #141718);
    --text-color: #e6e6e6;
    --text-color-inv: #2b2b2b;
    --background-modals: #2e2e2e;
}