.header{
    .hcontainer{
        margin: 0 5%;
        .hwrapper{
            padding: 20px 0;
            .hleft{
                display: flex;
                flex-direction: row;
                align-items: center;
                .hbranding{
                    .headerlogo{
                        width: 70px;
                        .headerLogoLink{
                            width: 50px;
                        }
                    }
                }
                .headerNavigation{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: -10px;
                    .headerLink{
                        margin: 0 20px;
                        .header_link_anchor{
                            font-size: 1.2rem;
                            font-weight: 300;
                            font-family: Apercu, Roboto;
                        }
                    }
                }
            }
        }
    }
}