.header{
    height: 70px;
    .hcontainer{
        margin: 0 5%;
        .hwrapper{
            padding: 20px 0;
            .hleft{
                display: flex;
                flex-direction: row;
                align-items: center;
                .hbranding{
                    .headerlogo{
                        width: 200px;
                    }
                }
                .headerNavigation{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .headerLink{
                        margin: 0 20px;
                    }
                }
            }
        }
    }
}