.header {
  .hcontainer {
    margin: 0 5%;
    @media (max-width: 480px) {
      margin: 0;
      display: flex;
      justify-content: space-between;
    }
    .mobiNavBars {
      height: 30px;
      width: 30px;
      margin: 20px;
      @media (min-width: 480px) {
        display: none;
      }
    }
    .Mobiheaderlogo {
      width: 60px;
      height: 40px;
      margin: 10px 20px;
      .MobiheaderLogoLink {
        width: 30px;
      }
      @media (min-width: 480px) {
        display: none;
      }
    }
    .hidemobinav {
      @media (max-width: 480px) {
        margin-left: -100vh;
        animation: slideOut 1s forwards;
      }
    }
    .openmobinav {
      @media (max-width: 480px) {
        animation: slideIn 1s forwards;
      }
    }
    .hwrapper {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      @media (max-width: 480px) {
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        background-color: #fff;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 80vw;
        margin-left: -100vh;
      }
      .mobiNavTimes {
        position: absolute;
        height: 30px;
        width: 30px;
        margin: 10px;
        top: 0;
        right: 0;
        @media (min-width: 480px) {
          display: none;
        }
      }
      .hleft {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 480px) {
          flex-direction: column;
          align-items: unset;
          order: 2;
        }
        .hbranding {
          .headerlogo {
            width: 70px;
            @media (max-width: 480px) {
              margin: 20px 40px;
            }
            .headerLogoLink {
              width: 50px;
            }
          }
        }
        .headerNavigation {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: -10px;
          @media (max-width: 480px) {
            flex-direction: column;
            align-items: unset;
          }
          .headerLink {
            margin: 0 20px;
            @media (max-width: 480px) {
              margin: 20px 40px;
              &:nth-last-child(1) {
                margin-bottom: 40px;
              }
            }
            .header_link_anchor {
              font-size: 1.2rem;
              font-weight: 300;
              font-family: Apercu, Roboto;
              color: var(--text-color);
              user-select: none;
              @media (max-width: 480px) {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
      .hright {
        margin-top: -20px;
        @media (max-width: 480px) {
          order: 1;
        }
        .header-right {
          .header-right-flex {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @media (max-width: 480px) {
              flex-direction: column;
              margin: 20px;
            }
            .header-search {
              @media (max-width: 480px) {
                margin: 20px;
              }
              .header-search-form {
                position: relative;
                border: 1px solid var(--text-color);
                border-radius: 5px;
                .header-search-input {
                  outline: none;
                  border: none;
                  padding: 10px;
                  padding-left: 35px;
                  background-color: transparent;
                  color: var(--text-color);
                  width: 200px;
                }

                .header-search-input:focus ~ .search-input-placeholder,
                .header-search-input:not([value=''])
                  ~ .search-input-placeholder {
                  visibility: hidden;
                  // transition: 0.2s ease all;
                }

                .header-search-icon {
                  position: absolute;
                  fill: var(--text-color);
                  top: 10px;
                  left: 10px;
                }

                .search-input-placeholder {
                  position: absolute;
                  left: 35px;
                  top: 7px;
                  pointer-events: none;
                  color: #9d9d9d;
                }
              }
            }

            .header-right-links {
              margin-left: 20px;
              display: flex;
              align-content: center;
              align-items: center;
              @media (max-width: 480px) {
                margin-left: -30px;
              }
              a {
                margin-bottom: -10px;
                margin-right: 15px;

                .header-mail-icon {
                  fill: var(--text-color);
                  cursor: pointer;
                  height: 18px;
                  width: 18px;
                  &:hover {
                    fill: var(--text-color);
                  }
                }
              }

              .theme-controls {
                position: relative;
                margin-top: -13px;
                svg {
                  stroke: var(--text-color);
                  position: absolute;
                  top: 0;
                  left: 0;
                  cursor: pointer;
                  height: 18px;
                  width: 18px;
                  &:hover {
                    stroke: var(--text-color);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes slideIn {
  0% {
    margin-left: -100vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes slideOut {
  0% {
    margin-left: 0vw;
  }
  100% {
    margin-left: -100vw;
  }
}
.sticky_header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: var(--background-modals);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  ~ .landing {
    padding-top: 54px !important;
  }
  .hcontainer {
    margin: 0 5%;
    .hwrapper {
      padding: 10px !important;
      padding-top: 15px !important;
      .hleft {
        .hbranding {
          .headerlogo {
            width: 40px;
            .headerLogoLink {
              width: 50px;
            }
          }
        }
      }
    }
    .hright {
      margin-top: -5px !important;
    }
  }
  @keyframes fadeInDown {
    0% {
      top: -70px;
    }

    100% {
      top: 0;
    }
  }
}
