.hwgitdone {
  padding: 40px 0;
  .hwgiContainer {
    margin: 0 5%;
    .hwgitWrapper {
      position: relative;
      .pathone {
        position: absolute;
        top: 35rem;
        left: 15rem;
        fill: var(--text-color);
      }
      .pathtwo {
        position: absolute;
        top: 15rem;
        left: 13rem;
        fill: var(--text-color);
      }
      .hwgitTitle {
        text-align: center;
        font-size: 5.375rem;
        line-height: 5rem;
        letter-spacing: -0.05rem;
        color: var(--text-color);
        font-family: 'VolteRounded-Bold', Volte Rounded;
        font-weight: 800 !important;
        margin-bottom: 2rem;
        user-select: none;
        @media (max-width: 1900px) {
          font-size: 4rem;
          line-height: 4rem;
        }
        @media (max-width: 480px) {
          font-size: 3rem;
          line-height: 3rem;
        }
      }
      .hwgitsec {
        display: flex;
        align-items: center;
        margin: 20px 0;
        height: 300px;
        .hwgitflxone {
          width: 60%;
          .hwgitsectitle {
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: -0.05rem;
            font-family: 'VolteRounded-Bold', Volte Rounded;
            color: var(--text-color);
          }
          .hwgitPar {
            font-family: Volte Rounded;
            color: var(--text-color);
            font-size: 2rem;
          }
        }
        .hwgitflxtwo {
          flex: 1;
          .hwgitflxtwoWrapper {
            position: relative;
            .hwgitcircle {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              fill: #2e6aff;
              color: #fff;
              height: 150px;
              width: 150px;
            }
            span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-weight: 700;
              font-size: 3rem;
              color: #fff;
              font-family: 'VolteRounded-Bold', Volte Rounded;
            }
          }
        }
      }
    }
  }
}
