.header .hcontainer {
  margin: 0 5%;
}
@media (max-width: 480px) {
  .header .hcontainer {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}
.header .hcontainer .mobiNavBars {
  height: 30px;
  width: 30px;
  margin: 20px;
}
@media (min-width: 480px) {
  .header .hcontainer .mobiNavBars {
    display: none;
  }
}
.header .hcontainer .Mobiheaderlogo {
  width: 60px;
  height: 40px;
  margin: 10px 20px;
}
.header .hcontainer .Mobiheaderlogo .MobiheaderLogoLink {
  width: 30px;
}
@media (min-width: 480px) {
  .header .hcontainer .Mobiheaderlogo {
    display: none;
  }
}
@media (max-width: 480px) {
  .header .hcontainer .hidemobinav {
    margin-left: -100vh;
    animation: slideOut 1s forwards;
  }
}
@media (max-width: 480px) {
  .header .hcontainer .openmobinav {
    animation: slideIn 1s forwards;
  }
}
.header .hcontainer .hwrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper {
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
}
.header .hcontainer .hwrapper .mobiNavTimes {
  position: absolute;
  height: 30px;
  width: 30px;
  margin: 10px;
  top: 0;
  right: 0;
}
@media (min-width: 480px) {
  .header .hcontainer .hwrapper .mobiNavTimes {
    display: none;
  }
}
.header .hcontainer .hwrapper .hleft {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper .hleft {
    flex-direction: column;
    align-items: unset;
    order: 2;
  }
}
.header .hcontainer .hwrapper .hleft .hbranding .headerlogo {
  width: 70px;
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper .hleft .hbranding .headerlogo {
    margin: 20px 40px;
  }
}
.header .hcontainer .hwrapper .hleft .hbranding .headerlogo .headerLogoLink {
  width: 50px;
}
.header .hcontainer .hwrapper .hleft .headerNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -10px;
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper .hleft .headerNavigation {
    flex-direction: column;
    align-items: unset;
  }
}
.header .hcontainer .hwrapper .hleft .headerNavigation .headerLink {
  margin: 0 20px;
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper .hleft .headerNavigation .headerLink {
    margin: 20px 40px;
  }
  .header .hcontainer .hwrapper .hleft .headerNavigation .headerLink:nth-last-child(1) {
    margin-bottom: 40px;
  }
}
.header .hcontainer .hwrapper .hleft .headerNavigation .headerLink .header_link_anchor {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Apercu, Roboto;
  color: var(--text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper .hleft .headerNavigation .headerLink .header_link_anchor {
    font-size: 2.5rem;
  }
}
.header .hcontainer .hwrapper .hright {
  margin-top: -20px;
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper .hright {
    order: 1;
  }
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper .hright .header-right .header-right-flex {
    flex-direction: column;
    margin: 20px;
  }
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-search {
    margin: 20px;
  }
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-search .header-search-form {
  position: relative;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-search .header-search-form .header-search-input {
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 35px;
  background-color: transparent;
  color: var(--text-color);
  width: 200px;
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-search .header-search-form .header-search-input:focus ~ .search-input-placeholder,
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-search .header-search-form .header-search-input:not([value=""]) ~ .search-input-placeholder {
  visibility: hidden;
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-search .header-search-form .header-search-icon {
  position: absolute;
  fill: var(--text-color);
  top: 10px;
  left: 10px;
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-search .header-search-form .search-input-placeholder {
  position: absolute;
  left: 35px;
  top: 7px;
  pointer-events: none;
  color: #9d9d9d;
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-right-links {
  margin-left: 20px;
  display: flex;
  align-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-right-links {
    margin-left: -30px;
  }
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-right-links a {
  margin-bottom: -10px;
  margin-right: 15px;
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-right-links a .header-mail-icon {
  fill: var(--text-color);
  cursor: pointer;
  height: 18px;
  width: 18px;
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-right-links a .header-mail-icon:hover {
  fill: var(--text-color);
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-right-links .theme-controls {
  position: relative;
  margin-top: -13px;
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-right-links .theme-controls svg {
  stroke: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 18px;
  width: 18px;
}
.header .hcontainer .hwrapper .hright .header-right .header-right-flex .header-right-links .theme-controls svg:hover {
  stroke: var(--text-color);
}

@keyframes slideIn {
  0% {
    margin-left: -100vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes slideOut {
  0% {
    margin-left: 0vw;
  }
  100% {
    margin-left: -100vw;
  }
}
.sticky_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: var(--background-modals);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.sticky_header ~ .landing {
  padding-top: 54px !important;
}
.sticky_header .hcontainer {
  margin: 0 5%;
}
.sticky_header .hcontainer .hwrapper {
  padding: 10px !important;
  padding-top: 15px !important;
}
.sticky_header .hcontainer .hwrapper .hleft {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sticky_header .hcontainer .hwrapper .hleft .hbranding .headerlogo {
  width: 40px;
}
.sticky_header .hcontainer .hwrapper .hleft .hbranding .headerlogo .headerLogoLink {
  width: 50px;
}
.sticky_header .hcontainer .hright {
  margin-top: -5px !important;
}
@keyframes fadeInDown {
  0% {
    top: -70px;
  }
  100% {
    top: 0;
  }
}/*# sourceMappingURL=header.css.map */